PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://usuario:password@localhost:5432/cocid_db?schema=public
JWT_SECRET=super_secret_jwt_key_cocid_institutional
AI_SERVICES_URL=http://localhost:8000/api/v1
CORS_ORIGIN=http://localhost:3000
